numpy==1.26.4
pandas==2.2.2
matplotlib==3.8.4
seaborn==0.13.2
tqdm==4.67.1

librosa==0.11.0
soundfile==0.13.1

scikit-learn==1.6.1

torch==2.2.2
torchaudio==2.2.2

xgboost==3.1.0
lightgbm==4.6.0
catboost==1.2.8

wandb==0.22.2

transformers==4.41.2
datasets==2.19.1
